[Unit]
Description=Rplexus Client
After=multi-user.target


[Service]
User=admin
Type=simple
WorkingDirectory=/usr/share/rpclient
ExecStart=/usr/bin/bash /usr/share/rpclient/run.sh
#StandardInput=tty-force
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target